@page "/"
@inject IServizioEventi servizioEventi

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@contatore

<button @onclick="Aumenta">Aumenta</button>

Welcome to your new app.

@saluto

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    private string saluto = "";
    private int contatore = 0;
    protected override void OnInitialized()
    {
        contatore = servizioEventi.Contatore;
        saluto = servizioEventi.Saluto();

    }

    private void Aumenta()
    {
        servizioEventi.AumentaContatore();
        contatore = servizioEventi.Contatore;
    }
}