@page "/counter"

<PageTitle>Counter</PageTitle>

<HelloWorld>
    <ChildContent>
        <p>Salvatore</p>
    </ChildContent>
    <Frammento2>
        <h3>Lezione finita</h3>
    </Frammento2>
</HelloWorld>
<HelloWorld>
    <ChildContent>
        <p>Salvatore</p>
        <h3>Ciao</h3>
    </ChildContent>
</HelloWorld>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
